.page-wrapper {
    overflow: hidden;
    background: #f2f2f2;
    padding-bottom: 8vh;
}

@media (max-width: 991px) {
    .page-wrapper {
        overflow: auto;
        background: #f2f2f2;
        padding-bottom: 12vh;
    }
}

.page-container {
    background: #f2f2f2;
    padding-left: 300px;
}

@media (max-width: 991px) {
    .page-container {
        position: relative;
        top: 88px;
        padding-left: 0;
    }
}

.page-container2 {
    background: #f2f2f2;
    padding-left: 300px;
}

@media (max-width: 991px) {
    .page-container2 {
        position: relative;
        padding-left: 0;
    }
}

.page-container3 {
    background: #f7f7f7;
}

.main-content {
    padding-top: 116px;
    min-height: 100vh;
}

@media (max-width: 991px) {
    .main-content {
        padding-top: 50px;
        padding-bottom: 100px;
    }
}

.page-content--bgf7 {
    background: #f7f7f7;
}

.page-content--bge5 {
    background: #e5e5e5;
    height: 100vh;
}
