@using (Html.BeginForm("Search", "Product"))
{
    <input name="search" style="width: 400px; height: 40px; border-bottom-left-radius: 10px; border-radius: 10px; padding-left: 10px" class="" type="search" id="search" placeholder="Search...    " />
    <button type="submit" value="tìm kiếm" class="mt-1" style="height: 40px;width:60px; border-radius: 10px;border:none; border-top-right-radius: 10px;background-color: #5D7B6F ">Tìm</button>
}
