
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ProductPage.cshtml";
}

<section class="bg-success py-5">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-white">
                <h1>About Us</h1>
                <p>
                    Nghệ thuật là con đường đẹp đẽ. Khoa học là con đường hiệu quả. Bán hàng là con đường sinh lợi.
                </p>
            </div>
            <div class="col-md-4">
                <img src="~/Resources/logo.jpg" alt="About Hero" style="height: 300px">
            </div>
        </div>
    </div>
</section>
<section class="container py-5">
    <div class="row text-center pt-5 pb-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Slogan</h1>
            <p>
                Mua sắm thông minh, mua hàng chất lượng.
            </p>
            <p>
               <img src="https://kenh14cdn.com/2017/giphy-1501233623120.gif.png" />
            </p>
        </div>
    </div>
   <section class="container py-5">
    <div class="row text-center">
        <div class="col-lg-12">
            <h2 class="h2">Video Giới Thiệu</h2>
            <video width="100%" controls autoplay>
                <source src="~/Resources/ho%e1%ba%b7c%20mua%20tr%e1%bb%b1c%20tuy%e1%ba%bfn.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</section>

</section>
